<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/common.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/register.css" /> -->
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <script type="text/javascript" src='/assets/js/val_register.js'></script>
</head>

<body>
    <%-include('common/nav')-%>
    <div id='login'>   
            <%if(message){%>
                <p ><%= message[0] %></p>
                <%}%>
        <div id='local-login'>
                
            <form action="/auth/login" method="POST">
                <div class='login-inputWithIcon'>
                    <div>
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Your user name">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <div class='login-inputWithIcon'>
                        <div>
                            <i class="fas fa-key"></i>
                            <input type="password" name="password" placeholder="Your passwords">
                            <i class="fas fa-check"></i>
                        </div>
                </div>
                <button id='btn-login' type="submit">Log In</button>
            </form>
        </div>
        <div id='third-party-login'>
            <div><a href="/auth/google"><img src='/assets/img/img_google_signin.png'></a></div>
            <span>Or</span>
            <div><a href="/auth/google"><img src='/assets/img/img_google_signin.png'></a></div>
        </div>
  </div>
</body>
<script type="text/javascript" src='/assets/js/common.js'></script>
</html>