body{
    font-family: arial;
    margin: 0;
}
nav{
    background: #2980B9;
    padding: 0;
    display: flex;
    /* max-width: 960px;  */
    margin: 0 auto;
}
nav :first-child{
    justify-content: flex-start;
}
nav :nth-child(2){
    justify-content: flex-end;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow:1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    /* display: inline-block; */
    margin: 0 10px 0 0;
    /* justify-content: flex-start */
}
nav a,nav ul li span,.dropbtn{
    color: antiquewhite;
    font-size: 16px;
    text-decoration: none;
    padding:12px 15px ;
    display: block;
    font-weight: 500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* click dropdown manual. First need to inherit li a style above and set own rules below*/
.dropbtn{
    border:none;
    background-color: #2980B9;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: antiquewhite;
    color: #2980B9;
    cursor: pointer;
  }
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a,.dropdown-content button {
    padding: 10px 12px; 
    text-decoration: none;
    color:#2980B9;
    font-weight: 500;
    display: block;
}

.dropdown-content a:hover {
    background-color: antiquewhite;
}
.dropdown-show {display:block;}
#userDropdown{
    right:0;
}

#userDropdown a img,i{
    border-radius: 50%;
    vertical-align: middle;
    width: 20%;
    height: 20%;
}
#userDropdown a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#userDropdown span {
    color:#2980B9;
    padding-top: 0px;
    padding-bottom: 0px;
}
#userDropdown a:first-child {
    border-bottom: solid 1px #8daaba;
}
#userDropdown i {
    padding-left: 10px;
}
/*End dropDown*/
.main {
    max-width: 961px;
    margin:0  auto;
    padding: 0 ;
    display: inline;
   
}
#errorModal{
    display:none;
    position: fixed;
    opacity: 0.95;
    background-color:white;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: auto;
}
#errorModalContent{
    margin: auto;
    width: 50%;
    border-radius: 5px;
    background-color:antiquewhite;
    padding:0;
}
#errorModalHead{
    padding:20px;
    color: antiquewhite;
    background-color: #2980B9;
}

#errorModalHead h2{
    margin:auto;
}

#errorModalContent ul{
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding:10px 15px;
}
#errorModalContent ul li{
    list-style-type: none;
    padding: 15px 0px;
    line-height:20px
}
#errorModalFoot {
    padding:10px 20px;
    color: antiquewhite;
    background-color: #2980B9;
    display: flex;
    justify-content: flex-end;
}
#errorModalFoot button {
    padding:10px;
    background-color: antiquewhite;
    border-radius: 5px;
    border:none;
}
