#sa-register{
    background: white;
}
#superAdmin-UserRegisterForm{
    width: 400px;
    margin: 20px auto; 
}

#superAdmin-UserRegisterForm h2{
    padding: 12px 10px;
    text-align: center;
    background-color: #2980B9;
    color:antiquewhite
}

#superAdmin-UserRegisterForm fieldset{
    margin-top:12px;
    margin-bottom: 12px;
    border: 0.5px solid #8daaba;
}

#superAdmin-UserRegisterForm fieldset legend{
    padding: 10px 10px;
    font-weight: 600;
}

#superAdmin-UserRegisterForm fieldset div{
    margin-top:12px;
    margin-bottom: 12px;
    padding: 0px 5px;
}
#superAdmin-UserRegisterForm fieldset div span{
    font-size: 14px;
    color:red;
    font-weight: 400;
}
#input-w-icon{
    display: flex;
    align-items: center;
}
#input-w-icon i{
    flex-grow: 1;
    margin:0px 10px 0px 5px;
    width: 20px;
}
#input-w-icon input{
    flex-grow: 15;
    margin-right: 10px;
    padding:5px 5px;
    border:none;
    background-color: antiquewhite;
}
#input-w-icon i:nth-child(3){
    /* color:green;
    display: none; */
    color:white;
}
#sel-user-type{
    padding: 5px 10px;
    font-weight: 500;
    border:none;
    background-color: antiquewhite
}
/*buttons*/
#superAdmin-UserRegisterForm button{
    padding:6px 12px;
    border-radius: 0;
    border:none;
    box-shadow: none;
    background-color:#2980B9;
    color:antiquewhite;
    font-weight: 400;
}
#superAdmin-UserRegisterForm a{
    padding:6px 12px;
    text-decoration: none;
    background-color:#2980B9;
    font-size: 14px;
    line-height: 17px;
    color:antiquewhite;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
}
