
.main form{
    color:#eee;
    padding: 20px;
    background: #f37474;
    margin:auto;
    width: 60%;
    display: block;
    box-sizing: border-box;
}
form p{
    font-size: 18px;
    letter-spacing: .01em;
}

fieldset{
    padding:20px;
    margin:20px 0px;
    border:1px solid rgb(82, 81, 81);
    border-radius: 4px;
}
legend{
    padding:10px;
    font-size: 18px;
    letter-spacing: 0.1em;
}


/*submit button*/
form div div{
    display:flex;
  
    justify-content: flex-end;
    
}
button[type="submit"], form div a{flex-grow: 1;
    color:black;
    margin:0 10px;
    padding:10px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
}

input[type="submit"]:hover{
    background-color: beige;
}

input:focus{
    transition: 0.5s;
}

/* input with icon flex
*/
.inputWithIconFlex{
    display: flex;
    flex-direction: column;
}
.inputWithIconFlex span{
    font-size: 10px;
    color:black;
    padding: 5px 0px;
}
.inputWithIconFlex div{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    /* border:0.1 solid gray;
    border-radius: 4px; */
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-sizing:border-box;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
}

.inputWithIconFlex div input{
    padding:10px 10px 10px 10px;
    flex-grow:9.5;
    margin:0;
    border:none;
}
.inputWithIconFlex div i{
    flex-grow:0.5;
    margin:0;
    padding:0 0 0 10px;
    border:none;
}
.inputWithIconFlex div i:first-child{
    color:black;
}

/*-----END-----*/

/* checkbox group*/
.inputCheckGroup label{
    display: inline-block;
}
.checkBoxContainer{
    display: block;
    position: relative;
    padding: 0px 40px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkBoxContainer input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top:0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #eee;
    border-radius: 4px;
}
.checkBoxContainer:hover input ~ .checkmark{
    background-color: #ccc;
}
.checkBoxContainer input:checked ~ .checkmark{
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
    display: block;
}
.checkBoxContainer .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    /* background-color: black; */
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Add validations*/ 
input[type="email"]:invalid,
input[type="tel"]:invalid {
    background-color: bisque;
}
