
#ticket{
   width: 820px;
   margin: 10px auto;
   
}
#ticket div{
    display: inline-block;
    vertical-align: top;
}
#ticket-info{
    width:488px;
    padding:5px
}
#ticket label,fieldset{
    margin: 10px 0px 5px 0px;
    display: block;
    font-weight: 600;
}
#ticket input,textarea,select{
   padding: 5px 5px;
   border:1px solid grey;
   border-radius: 0;
   font-size: 14px;
}

#ticket-options{
    width:300px;
    padding:5px;
}
#ticket-options fieldset div{
    margin: 0px 3px;
    display: block;
}
#ticket-description{
    width: 460px;
    height: 300px;
}
.inputWithIcon{
    display: flex !important;
    align-items: center;
    padding:5px 0px;
    justify-content: space-between;
}
.inputWithIcon input{
    margin:5px 5px;
    border:none !important;
}
.inputWithIcon i{
    width: auto;
}
/*buttons*/
#ticket-options button{
    margin-top:10px;
    padding:6px 12px;
    border-radius: 0;
    border:none;
    box-shadow: none;
    background-color:#2980B9;
    color:antiquewhite;
    font-weight: 500;
}
#ticket-options a{
    margin-top:10px;
    padding:6px 12px;
    text-decoration: none;
    background-color:#2980B9;
    font-size: 14px;
    line-height: 17px;
    color:antiquewhite;
    font-weight: 800;
    box-sizing: border-box;
    display: inline-block;
}