
#ticket{
   width: 820px;
   margin: 10px auto;
   
}
#ticket div{
    display: inline-block;
    vertical-align: top;
}
#ticket-info{
    width:488px;
    padding:5px
}
#ticket label,fieldset{
    margin: 10px 0px 5px 0px;
    display: block;
    font-weight: 600;
}
#ticket input,textarea,select{
   padding: 5px 5px;
   border:none;
   margin-bottom: 10px;
   /* border:1px solid grey; */
   border-radius: 0px;
   font-size: 14px;
   -webkit-appearance: none;
  /* -webkit-border-radius: 0px; */
}

#ticket select{
    width: 100%;
    font-weight: 500;
 }

#ticket-options{
    width:300px;
    padding:5px;
}
#ticket-options fieldset{
    border:none;
    background:#efecec; 
}
#ticket-options fieldset div{
    margin: 0px 5px;
    display: block;
}
#ticket-options fieldset legend{
    margin:5px 0px;
}
#ticket-description,#ticket-subject{
    width: 460px;
    border-bottom: 1px solid #2980B9 !important;
    
}
#ticket-description{
    height: 300px;
}
.inputWithIcon{
    display: flex !important;
    align-items: center;
    padding:5px 0px;
    justify-content: space-between;
}
.inputWithIcon input{
    margin:5px 0px;
    border:none !important;
}
.inputWithIcon i{
    width: auto;
}
/*select */
#ticket-options select{
    background-color: #2980B9;
    color:white;
}

/*buttons*/
#ticket-options button{
    margin-top:10px;
    padding:6px 12px;
    border-radius: 0;
    border:none;
    box-shadow: none;
    background-color:#2980B9;
    color:antiquewhite;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
}
#ticket-options a{
    margin-top:10px;
    padding:6px 12px;
    text-decoration: none;
    background-color:#2980B9;
    font-size: 14px;
    line-height: 1.2;
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; */
    color:antiquewhite;
    font-weight: 500;
    box-sizing: border-box;
    display: inline-block;
    border:none;
}

