
#ticket{
   width: 820px;
   margin: 10px auto;
   
}
#ticket h2,.ticket-main h2{
    border-bottom: #2980B9 solid 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px 0px;
    text-align: center;
}
#ticket div{
    display: inline-block;
    vertical-align: top;
}
#ticket-info{
    width:488px;
    padding:5px
}
#ticket label,fieldset{
    margin: 10px 0px 5px 0px;
    display: block;
    font-weight: 600;
}
#ticket input,textarea,select{
   padding: 10px 10px;
   border:none;
   margin-bottom: 10px;
   /* border:1px solid grey; */
   border-radius: 0px;
   font-size: 14px;
   -webkit-appearance: none;
  /* -webkit-border-radius: 0px; */
}

#ticket select{
    width: 100%;
    font-weight: 500;
 }

#ticket-options{
    width:300px;
    padding:5px;
}
#ticket-options fieldset{
    border:none;
    background:#efecec;
    padding-left: 5px;
    padding-right: 5px; 
}
#ticket-options fieldset div{
    margin: 0px 5px;
    display: block;
}
#ticket-options fieldset p{
    margin:5px auto;
    text-align: center;
}
#ticket-description,#ticket-subject{
    width: 460px;
    border-bottom: 0.5px solid #2980B9 !important;
    
}
#ticket-description{
    height: 300px;
    
}
.inputWithIcon{
    display: flex !important;
    align-items: center;
    padding:0px 5px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    justify-content: space-between;
    background-color: white;
}
.inputWithIcon input{
    margin:0 !important;
    border:none !important;
    flex-grow: 8;
}
.inputWithIcon i{
    width: auto;
    flex-grow: 1;
}
/*select */
/* #ticket-options select{
    background-color:white;
    color: #2980B9;
    border:1px solid #2980B9;
    
}

#ticket-options select option{
    font-weight: 600;
    background-color: antiquewhite;
} */

.priorityHigh{
    font-weight: 600;
    background-color: red;
    color:black;
}
.priorityMedium{
    font-weight: 600;
    background-color: yellow;
    color:blue;
}
.priorityLow{
    font-weight: 600;
    background-color: green;
    color:white;
}

/*buttons*/
#ticket-options button{
    margin-top:10px;
    padding:6px 12px;
    border-radius: 0;
    border:none;
    box-shadow: none;
    background-color:#2980B9;
    color:antiquewhite;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
}
#ticket-options a{
    margin-top:10px;
    padding:6px 12px;
    text-decoration: none;
    background-color:#2980B9;
    font-size: 14px;
    line-height: 1.2;
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; */
    color:antiquewhite;
    font-weight: 500;
    box-sizing: border-box;
    display: inline-block;
    border:none;
}

/* tickets ejs menu*/
#tickets-menu ul{
    display: inline-block;
    padding:10px 0px;
    background-color:#8daaba;
    width: 100%;
    margin:0; 
}

#tickets-menu ul li{
    display: inline-block;
    list-style-type: none;
}

#tickets-menu ul li a{ 
   text-decoration: none;
   padding:10px;
  
}
#tickets-menu ul li i{
   display: inline; 
   color:white;
   border-radius: 0;
}
#tickets-menu ul li span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#tickets-menu ul li input,#tickets-menu ul li button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding:5px;
    margin-left:10px;
    margin-right:10px;
    background-color: white;
    border: none;
}
/*ticket controls*/
#ticket-controls{
    display: flex;
    margin: 0px auto;
    width: 100%;
}
#ticket-updates{
    width: 28%;
}
/*ticket table*/
#tickets-table{
    margin-top:5px;
    margin-bottom:5px;
    width: 70%;
    border-collapse: collapse;
    font-size: 12px;
}
#tickets-table thead tr th{
    border-bottom: 1px solid #2980B9;
    border-right:0;
    border-left:0;
    box-shadow: 0px 2px grey;
    padding-top:5px;
    padding-bottom: 5px;
}

#tickets-table tbody tr td{
    text-align: center;
    padding:5px 0px;
    text-overflow: ellipsis;
    
}
#tickets-table tbody tr:nth-child(even){
    background-color:antiquewhite;
}
#tickets-table tbody tr a{
    margin:5px 5px;
    padding:5px 5px;
    text-decoration: none;
}
#tickets-table tbody tr a:first-child{
    background-color:rgb(201, 227, 245);
}
#tickets-table tbody tr a:nth-child(2){
    background-color:rgb(202, 245, 201);
}
.toolTipText{
  visibility: hidden;
  width: 380px;
  background-color: #555;
  color: #fff;
  word-wrap: break-word;
  text-align: left;
  padding: 10px 10px;
  /* border-radius: 6px; */
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* bottom: 125%;
  left: 50%; */
  margin-left: 60px;
  margin-top:0px;
  margin-bottom:0px;
  overflow: hidden;
   /* Fade in tooltip */
   opacity: 0;
   transition: opacity 0.3s;
}
.toolTip:hover .toolTipText{
    visibility: visible;
    opacity: 1;
}
/*rgb(212, 212, 253);*/