<div id='infoModal'>
        
    <div id='infoModalContent'>
    <div id='infoModalHead'>
        <h2>
            Info
         </h2>     
    </div>    
    <div id='infoModalBody'>
        <ul id='infoList'>
        </ul>
    </div>
    <div id='infoModalFoot'>
        <button onclick="toggle_display('infoModal','block')">close</button>
    </div>   
    </div>   
</div>