<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a>About</a></li>          
        </ul>
        <ul>
            <%if(user){%>
            <li><a href="/auth/logout">Log Out</a></li>
            <li><a href="/profile">Profile</a></li>
            <li>
                <div class='dropdown'>
                    <button onclick="return showDropdown('queueDropdown')" class='dropbtn'>Queue</button>
                    <div id='queueDropdown' class='dropdown-content'>
                        <a href="">Queue Item 1</a>
                        <a href="">Queue Item 2</a>
                        <a href="">Queue Item 3</a>
                    </div>
                </div>
            </li>
            <li ><span>Hi, <%=user.username%></span></li>
            <li ><img src="<%=user.thumbnail%>"/></li>
            <%}else{%>
            <li><a href="/auth/login">Log In</a></li>
            <li><a href="/auth/register">Register</a></li>
            <%}%>
        </ul>
    </nav>