<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a>About</a></li>          
        </ul>
        <ul>
            <%if(user){%>
            <li><a href="/auth/logout">Log Out</a></li>
            <li><a href="/profile">Profile</a></li>
            <li ><span>Hi, <%=user.username%></span></li>
            <li ><img src="<%=user.thumbnail%>"/></li>
            <%}else{%>
            <li><a href="/auth/login">Log In</a></li>
            <li><a href="/auth/register">Register</a></li>
            <%}%>
        </ul>
    </nav>