    <div id='errorModal'>
        <div id='errorModalContent'>
        <div id='errorModalHead'>
            <h2>
                Please verify the following errors:
             </h2>     
        </div>    
        <div id='errorModalBody'>
            <ul id='errorList'>
            </ul>
        </div>
        <div id='errorModalFoot'>
            <button onclick="toggle_visibility('errorModal')">close</button>
        </div>   
        </div>   
    </div>  
